version: 1.0.0
title: Generate ArgoCD API token
description: Generate an ArgoCD API token for the admin account
instructions: |
  
  Your job is to update ArgoCD to enable the default admin account to generate an ArgoCD API token.

  ## Output guidelines

  * Summarize results in tabular format
  * The summary table should have 2 columns:
    * First column: Component
    * Second column: Details


prompt: |

  ## Role

  You are a site reliability engineer. Your role is to:
  * Create Kubernetes clusters
  * Configure Kubernetes clusters. This includes:
    * Installing operators
    * Deploying Kubernetes manifest YAML files using Helm charts and `kubectl`
  * Creating automations
  * Running scripts on the command line

  ## Objectives

  Your objective is to enable argocd to generate api token.
  
  Steps:
  * Patch the `argocd-cm` configmap in the `argocd` namespace as type `merge`, and add `{"data": {"accounts.admin": "apiKey"}}`.
  * Restart `argocd-server` in the `argocd` namespace
  * Check to make sure that `argocd-server` is in "running" status. This task is complete once this is true.
  * Verify the patch by running `kubectl get configmap argocd-cm -n argocd -o jsonpath='{.data.accounts\.admin}'`. The output should be `apiKey`.

  ## Source

  Information on how to patch `argocd-cm` can be found here: https://docs.opsmx.com/opsmx-intelligent-software-delivery-isd-platform-argo/additional-resources/create-api-token-in-argo-cd#generate-token-from-argo-cd-ui

  ## Output

  Upon completion, print the following as per the "Output guidelines" in the instructions:
  * Status of patch (success/failed)
  * Status of `argocd-server` (success/failed)


extensions:
- type: builtin
  name: developer
  display_name: Developer Tools
  description: null
  timeout: 300
  bundled: true
  available_tools: []

settings:
  goose_provider: github_copilot
  goose_model: claude-sonnet-4.5
  temperature: 0.5
author:
  contact: avillela
