## Dynatrace Configs
## Reference: https://github.com/dynatrace-oss/dynatrace-mcp
DT_API_TOKEN=<dt_api_token>
DT_OTLP_ENDPOINT=<dt_otlp_endpoint> # e.g. https://<my-tenant>.dynatrace.com
DT_ENVIRONMENT=<dt_url_for_mcp_server_config>
OAUTH_CLIENT_ID=<dt_oauth_client_id>
OAUTH_CLIENT_SECRET=<dt_oauth_client_secret>

## GitHub
## Reference: https://github.com/github/github-mcp-server
GITHUB_PERSONAL_ACCESS_TOKEN=<gh_personal_access_token>

## GKE
GCP_PROJECT_NAME="<gcp_project_name>"
GCP_REGION="<gcp_region>"
GCP_ZONE="<gcp_zone>"
GKE_CLUSTER_NAME="<gke_cluster_name>"
GKE_MACHINE_TYPE="<gke_machine_type>"
GKE_NUM_NODES="1"

## SSH (for ArgoCD GH repo setup)
SSH_PK_PATH=<path_to_ssh_private_key>

## ArgoCD
## Reference: https://github.com/akuity/argocd-mcp
# ArgoCD API token: https://argo-cd.readthedocs.io/en/stable/developer-guide/api-docs/#authorization
ARGOCD_USERNAME="admin"
ARGOCD_PASSWORD="<admin_password>"
ARGOCD_BASE_URL="<argocd_base_url>"  # e.g. 127.0.0.1:9080
NODE_TLS_REJECT_UNAUTHORIZED="0" # for self-signed certs
ARGOCD_API_TOKEN="<argocd_api_token>"
