extensions:
  developer:
    available_tools: []
    bundled: true
    description: null
    display_name: Developer Tools
    enabled: true
    name: developer
    timeout: 300
    type: builtin
  dynatrace:
    args:
    - -y
    - '@dynatrace-oss/dynatrace-mcp-server@v0.3.0'
    available_tools: []
    bundled: null
    cmd: npx
    description: null
    enabled: true
    env_keys: []
    envs: {}
    name: Dynatrace MCP
    timeout: 300
    type: stdio
  github:
    args:
    - run
    - -i
    - --rm
    - -e
    - GITHUB_PERSONAL_ACCESS_TOKEN
    - ghcr.io/github/github-mcp-server
    available_tools: []
    bundled: null
    cmd: docker
    description: null
    enabled: true
    env_keys: []
    envs: {}
    name: github
    timeout: 300
    type: stdio
GOOSE_MODEL: gpt-4o
GOOSE_PROVIDER: github_copilot
